@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disable-blur{
      image-rendering: -webkit-optimize-contrast;
  }
}
input::placeholder { /* CSS 3 標準 */
  color: #083A5E;
}

input::-webkit-input-placeholder { /* Chrome, Safari */
  color: #083A5E;
}

input::-ms-input-placeholder { /* IE 10+ */
  color: #083A5E;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{font-family: 'Noto Sans TC', arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;}
@keyframes oxxo{
  from{
      /* left:0; */
      transform: translateX(-50px);
  }
  to{
      /* left:100px; */
      transform: translateX(50px);
  }
}