@tailwind base;
@tailwind components;
@tailwind utilities;


input::placeholder { /* CSS 3 標準 */
  color: #083A5E;
}

input::-webkit-input-placeholder { /* Chrome, Safari */
  color: #083A5E;
}

input::-ms-input-placeholder { /* IE 10+ */
  color: #083A5E;
}